<% @images.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.each do |image| %>
      <div class="col">
        <% if image %>
          <%= cl_image_tag(image.upload_id, alt: image.name, width: 350, height: 350, crop: :thumb, class: "img-fluid rounded") %>
          <a class="btn btn-block btn-outline-primary" href="<%= new_meme_path(image_id: image.id) %>">
            Fabricate Meme
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
